@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Saira+Stencil+One&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto';
	list-style: none;
}

.head-nav {
	background-color: #E83434;
	height: 82px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.right-nav {
	display: flex;
	align-items: center;
}

.head-nav h1 {
	font-size: 65px;
	font-family: 'Saira Stencil One';
}

.search {
	position: relative;
	display: flex;
	align-items: center;
	margin-right: 24px;
}

.search input {
	width: 350px;
	height: 45px;
	border-radius: 10px;
	border: none;
}

.search img {
	position: absolute;
	right: 0px;
	margin-right: 1rem;
}

.head-nav a {
	color: white;
	font-size: 20px;
	text-decoration: none;
	margin-right: 24px;
}

nav {
	background-color: #F5E1E1;
}

ul {
	display: flex;
	justify-content: space-around;
	width: 80%;
	margin: auto;
	padding: 16px 0;
}

ul li {
	list-style: none;
}

ul li a {
	text-decoration: none;
	color: black;
}